---
import GitHub from "./icons/GitHub.astro";
import NextJS from "./icons/NextJS.astro";
import Tailwind from "./icons/Tailwind.astro";
import Html5 from "./icons/Html5.astro";
import Javascript from "./icons/Javascript.astro";
import Bootstrap from "./icons/Bootstrap.astro";
import CSS3 from "./icons/CSS3.astro";
import Wordpress from "./icons/Wordpress.astro";
import Link from "./icons/Link.astro";
import LinkButton from "./LinkButton.astro";

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white border dark:border-gray-600",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  WORDPRESS: {
    name: "Wordpress",
    class: "bg-gray-200 font-bold text-gray-800",
    icon: Wordpress,
  },
  HTML5: {
    name: "HTML5",
    class: "bg-[#003159] text-white",
    icon: Html5,
  },
  BOOTSTRAP: {
    name: "Bootstrap",
    class: "bg-gray-200 font-bold text-gray-800",
    icon: Bootstrap,
  },
  CSS3: {
    name: "CSS3",
    class: "bg-[#003159] text-white",
    icon: CSS3,
  },
  JS: {
    name: "Javascript",
    class: "bg-[#003159] text-white",
    icon: Javascript,
  },
};
const PROJECTS = [
  {
    title: "Chemisweb Studio",
    description:
      "Online Web IDE with an integration of web-components libraries, CSS frameworks and Javascript utilities.",
    link: "http://web.archive.org/web/20230325145007/https://chemisweb.com/",
    github: "https://github.com/tcosCode",
    image: "/projects/chemisweb.webp",
    tags: [TAGS.HTML5, TAGS.BOOTSTRAP, TAGS.JS],
  },
  {
    title: "Decoders Tool",
    description:
      "Web-based application for unlocking and repairing Android devices, integrating with various device management protocols.",
    link: "http://web.archive.org/web/20211203170345/https://www.decoders-tool.com/abstruseness/",
    image: "/projects/decoderstool.webp",
    tags: [TAGS.HTML5, TAGS.CSS3, TAGS.JS],
  },
  {
    title: "Marrero",
    description:
      "E-commerce platform developed with Wordpress, Woo-commerce and CSS, with multiple integrations such as Google Analytics and Stripe.",
    link: "http://web.archive.org/web/20240205120144/https://marrero.one/",
    image: "/projects/marrero.webp",
    tags: [TAGS.WORDPRESS],
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img
              alt="project"
              class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
              src={image}
            />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
            {title}
          </h3>
          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-row mb-2 gap-x-2">
              {tags.map((tag) => (
                <li>
                  <span
                    class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                  >
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>

            <div class="mt-2 text-gray-700 dark:text-gray-400">
              {description}
            </div>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {github && (
                <LinkButton href={github}>
                  <GitHub class="size-6" />
                  Code
                </LinkButton>
              )}
              {link && (
                <LinkButton href={link}>
                  <Link class="size-4" />
                  Preview
                </LinkButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
